.wrap { flex-wrap: wrap; }

.text {
    margin-left: -20px;
    padding-top: 10%;
  }

.become-a-member-form, .checkoutform {
    width: 750px;
    height: 800px;
    border-radius: 1em;
    background-color: #2E7702;
    box-shadow: 2px 2px 10px 5px #4FC009;
    color: #ffffff;
  }

.become-a-member-form {
    margin: 50px auto;
    font-size: 25px;
  }

.checkoutform {
    margin: 20px;
  }

ul {
    list-style: none;
    margin: 10px;
  }
  
label {
    display: inline-block;
    width: 200px;
    height: 50px;
  }
  
label::after {
    content: ":";
  }

input {
  width: 350px;
  box-sizing: border-box;
  outline: none;
  background-color: #ffffff;
  height: 30px;
}

.formbutton {
    background-color: #c7caff;
    box-shadow: 5px 5px 10px 5px #ffffff;
    float: auto;
    cursor: pointer;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    border: 2px solid #ffffff;
    margin-left: 180px;
    font-size: 25px;
}

.formbutton p {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
}

label {
    width: 300px;
}

h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
}

#first-name {
    margin-top: 30px;
}

.become-boxes-flex {
    display: flex;
}

.box-one {
    background-color: #966fd6;
}

.box-two {
    background-color: #fafabe;
}

.box-three {
    background-color: #c7caff;
}

.box-one, .box-two, .box-three {
    width: 450px;
    border-radius: 20px;
    border: 2px solid #000000;
    height: 350px;
}

.box-one, .box-two, .box-three {
    margin-left: 40px;
    margin-bottom: 30px;
}

.box-two, .box-three {
    text-align: center;
}

.box-one, .box-three {
    color: #ffffff;
}

.box-one, .box-two, .box-three {
    font-size: 20px;
}

.box-one li {
    padding-left: 30px;
}

.box-three p, .box-three a {
    padding: 0px 20px 0px 20px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

.box-one a, .box-two a, .box-three a {
    color: red;
    text-decoration: none;
}

.hero-image-succesful {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1658999167159-3f6659cace61?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
}

.hero-image-succesful {
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 1200px;
    border: 2px solid white;
    margin: 50px 0px 50px 150px;
    height: 240px;
    box-shadow: 5px 5px 10px 8px #818181;
}

.hero-text {
    text-align: center;
    color: #ffffff;
}

.hero-text h1 {
    font-size: 30px;
}

.hero-text p {
    font-size: 20px;
}

.become-a-member-form h1 {
    padding-top: 70px;
}

h2 {
    padding-left: 40px;
    padding-right: 40px;
}