.text {
    margin-left: -20px;
    padding-top: 10%;
  }

.become-a-member-form, .checkoutform {
    background-color: #c1eabc;
    width: 750px;
    height: 500px;
    border-radius: 1em;
    box-shadow: 0px 0px 10px 10px #626592;
  }

.become-a-member-form {
    margin: 50px auto;
    font-size: 25px;
  }

.checkoutform {
    margin: 20px;
  }

ul {
    list-style: none;
    margin: 10px;
  }
  
label {
    display: inline-block;
    width: 200px;
    height: 50px;
  }
  
label::after {
    content: ":";
  }

input {
  width: 350px;
  box-sizing: border-box;
  outline: none;
  background-color: #ffffff;
  height: 30px;
}

.formbutton {
    background-color: #094CDB;
    box-shadow: 5px 5px 10px 5px #023299;
    float: auto;
    cursor: pointer;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    border: 2px solid #ffffff;
    margin-left: 150px;
}

.formbutton a {
    text-decoration: none;
    color: #ffffff;
}

label {
    width: 300px;
}

h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
}

#first-name {
    margin-top: 30px;
}