.hero-image-carrer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
}

.hero-image-carrer {
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 1300px;
    border: 2px solid white;
    margin: 50px 0px 50px 90px;
    height: 400px;
    box-shadow: 5px 5px 10px 8px #818181;
}

#hero-text {
    color: #ffffff;
    text-align: center;
}

#hero-text h1 {
    font-size: 30px;
}

#hero-text p {
    font-size: 20px;
    padding: 0px 30px 0px 30px;
}

#carrer-button {
    background-color: #966fd6;
    width: 500px;
    border-radius: 20px;
    border: 2px solid white;
    margin: 40px 0px 0px 400px;
}

#carrer-button a {
    text-decoration: none;
    color: #ffffff;
}