#header-centre img:hover {
    box-shadow: 5px 5px 10px 5px #818181;
    width: 170px;
    height: 105px;
  }

  .location-header img:hover, #contact-icon-header img:hover, #sale-icon-header img:hover, #map-icon-header img:hover, .menubar img:hover{
    height: 70px;
    width: 70px;
    box-shadow: 5px 5px 10px 5px #818181;
  }

  #popular-now-footer a:hover, #behind-the-scense-footer a:hover, #about-square-eyes-footer a:hover, #custumer-service-fotter a:hover {
    color: #6A76A4;
  }

.become-button:hover, .hero-button:hover, .formbutton:hover, #carrer-button:hover, .trade-your-dvds-info:hover {
    background-color: #2E7702;
    box-shadow: 5px 5px 10px 5px #4FC009;
}

.category-buttons-long:hover, .category-buttons:hover, .category-last-buttons:hover {
    background-color: #023299;
    box-shadow: 5px 5px 10px 5px #094CDB;
    border: 2px solid #ffffff;
}

.become-a-member-form:hover {
    background-color: #094CDB;
    border: 2px solid #ffffff;
}

.category-buttons-long a:hover, .category-buttons a:hover, .category-last-buttons a:hover {
    color: #ffffff;
    font-size: 30px;
}

.hero-image-one:hover, .hero-image-two:hover, .hero-image-three:hover, .hero-image-four:hover, .hero-image-about-page-one:hover, .hero-image-about-page-two:hover, .hero-image-about-page-three:hover, .hero-image-about-page-four:hover, .hero-image-about-page-five:hover, .box-one:hover, .box-two:hover, .box-three:hover, .hero-image-contact-page:hover, .hero-image-contact-page-one:hover, .hero-image-contact-page-two:hover, .hero-image-contact-page-five:hover, .hero-image-contact-page-four:hover, .hero-image-contact-page-six:hover, .hero-image-contact-page-three:hover {
    box-shadow: 0px 0px 10px 10px #818181;
}

.hero-text-about-page-one h1:hover, .hero-text-about-page-one p:hover, .hero-image-text-contact a:hover, .end-message-text a:hover {
    color: #fafabe;
}

.box-two a:hover, .box-three a:hover, #box-container-one a:hover, #box-container-two a:hover, #box-container-three a:hover{
    color: #094CDB;
}

.hero-image-carrer:hover, .hero-image-investors:hover, #box-container-one:hover, #box-container-two:hover, #box-container-three:hover, #poster-thriller-button:hover {
    box-shadow: 5px 5px 10px 5px #094CDB;
}

.active, .collapsible:hover {
    background-color: #023299;
  }

#poster-price:hover {
    color: #AD00FF;
  }

#poster-button button:hover {
    background-color: #AD00FF;
  }

#poster-info-text h1:hover, #poster-info-text p:hover {
    color: #094CDB;
}

.movie-poster-one:hover, .movie-poster-two:hover, .movie-poster-three:hover, .movie-poster-four:hover, .movie-poster-five:hover, .movie-poster-six:hover, .movie-poster-seven:hover, .movie-poster-eight:hover, .movie-poster-nine:hover, .movie-poster-teen:hover, .movie-poster-eleven:hover, .movie-poster-twelve:hover, .movie-poster-thirteen:hover, .movie-poster-fourteen:hover, .movie-poster-fifteen:hover, .movie-poster-sixteen:hover {
    border: 2px solid #FCFF80;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#page-headline:hover, .partnerships-info:hover, .larger-device:hover, .hero-image-succesful:hover {
    box-shadow: 5px 5px 10px 10px #ffffff;
}

.sony-pictures-option:hover, .disney-cruise-option:hover, .disney-exerience-option:hover, .lucas-films-option:hover, .lionsgate-option:hover, .disney-option:hover, .walt-disney-option:hover, .netflix-option:hover, .disney-channel-option:hover, .warner-bros-option:hover, .paramount-option:hover, .universal-option:hover, .disneypark-option:hover, .seatchlight-option:hover, .centruy-studio-option:hover, .disney-plus-option:hover, .hulu-option:hover, .pixar-option:hover, .amblin-option:hover, .dreamworks-animation-option:hover, .illumination-option:hover, .apple-tv-option:hover, .prime-video-option:hover, .hbo-option:hover {
    background-color: #E4AAFF;
    box-shadow: 5px 5px 10px 10px #837b87;
}