/* HEADER & MENU & FOOTER */
#header-centre img:hover {
    box-shadow: 5px 5px 10px 5px #818181;
    width: 170px;
    height: 105px;
  }

  .location-header img:hover, #contact-icon-header img:hover, #sale-icon-header img:hover, #map-icon-header img:hover, .menubar img:hover{
    height: 70px;
    width: 70px;
    box-shadow: 5px 5px 10px 5px #818181;
  }

  #popular-now-footer a:hover, #behind-the-scense-footer a:hover, #about-square-eyes-footer a:hover, #custumer-service-fotter a:hover {
    color: #6A76A4;
  }

/* HOME PAGE */
.become-button:hover, .hero-button:hover {
    background-color: #2E7702;
    box-shadow: 5px 5px 10px 5px #4FC009;
}

.category-buttons-long:hover, .category-buttons:hover, .category-last-buttons:hover {
    background-color: #023299;
    box-shadow: 5px 5px 10px 5px #094CDB;
    border: 2px solid #ffffff;
}

.category-buttons-long a:hover, .category-buttons a:hover, .category-last-buttons a:hover {
    color: #ffffff;
    font-size: 30px;
}

.hero-image-one:hover, .hero-image-two:hover, .hero-image-three:hover, .hero-image-four:hover {
    box-shadow: 0px 0px 10px 10px #818181;
}