.wrap { flex-wrap: wrap; }

.flex-category-button {
    display: flex;
}

.category-buttons-long {
    background-color: #ffffff;
    width: 300px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 20px;
    margin-left: 150px;
}

.category-buttons-long a {
    text-decoration: none;
    color: #000000;
}