.wrap { flex-wrap: wrap; }

/* BUTTONS */

.flex-category-button {
    display: flex;
}

.category-buttons-long {
    background-color: #ffffff;
    width: 300px;
    height: 80px;
    border: 2px solid #000000;
    border-radius: 20px;
    margin-left: 150px;
    text-align: center;
    padding-top: 20px;
}

.category-buttons-long a {
    text-decoration: none;
    color: #000000;
}

.category-buttons {
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 2px solid #000000;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
}

.category-buttons a {
    text-decoration: none;
    color: #000000
}

/* END BUTTONS */