.wrap { flex-wrap: wrap; }

/* BUTTONS */

.movie-container-header {
    text-align: center;
    width: 1330px;
}

.movie-container-header h1 {
    color: #000000;
    font-size: 50px;
}

.flex-category-button {
    display: flex;
    width: 1500px;
    margin-top: 50px;
    margin-left: -5px;
}

.category-buttons-long {
    background-color: #ffffff;
    width: 270px;
    height: 70px;
    border: 2px solid #000000;
    border-radius: 20px;
    margin-left: 80px;
    text-align: center;
    padding-top: 30px;
}

.category-buttons-long a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
}

.category-buttons {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 2px solid #000000;
    width: 160px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
}

.category-buttons a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.category-last-buttons {
    margin-left: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 2px solid #000000;
    width: 190px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
}

.category-last-buttons a {
    text-decoration: none;
    color: #000000;
    font-size: 23px;
}

/* END BUTTONS */

/*HERO CODE*/
.flex-hero-container, .flex-category-button-one, .flex-category-button-two {
    display: flex;
}

.around { 
    justify-content: space-around; 
  }

.hero-image-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1536440136628-849c177e76a1?q=80&w=3125&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.hero-image-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
}

.hero-image-three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1505686994434-e3cc5abf1330?q=80&w=3273&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
}

.hero-image-four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1478720568477-152d9b164e26?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
}

.hero-image-one, .hero-image-two, .hero-image-three, .hero-image-four {
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-one {
    margin-left: -390px;
}

.hero-image-two {
    margin-left: -700px;
}

.hero-image-four {
    width: 1400px;
    margin-left: 45px;
    height: 300px;
    margin-top: 30px;
    border: 3px solid #ffffff;
}

.hero-image-one, .hero-image-two {
    width: 600px;
    height: 250px;
    margin-top: 50px;
    border: 3px solid #ffffff;
}

.hero-image-three  {
    width: 600px;
    height: 250px;
    border: 3px solid #ffffff;
    margin-top: 350px;
    margin-left: -1850px;
    margin-bottom: 50px;
}

.hero-text-one, .hero-text-two, .hero-text-four {
    color: #ffffff;
    text-align: center;
}

.hero-text-one h1, .hero-text-two h1, .hero-text-four h1 {
    font-size: 50px;
}

.hero-text-one p, .hero-text-two p, .hero-text-four p {
    font-size: 30px;
}

.hero-button {
    width: 200px;
    border-radius: 20px;
    background-color: #023299;
    box-shadow: 5px 5px 10px 5px #094CDB;
    border: 2px solid #ffffff;
    margin-left: 200px;
}

.hero-button a {
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.become-button {
    width: 400px;
    border-radius: 20px;
    background-color: #023299;
    box-shadow: 5px 5px 10px 5px #094CDB;
    border: 2px solid #ffffff;
    margin-left: 500px;
}

.become-button a {
    text-decoration: none;
    color: #ffffff;
}

#movie-action, #movie-fantasy, #movie-sci-fi {
    margin-left: 60px;
}