.wrap { flex-wrap: wrap; }

.classic-movies-container {
    display: flex;
    margin-bottom: 20px;
}

#poster-photo {
    float: left;
    height: 200px;
    width: 150px;
}

#poster-photo img {
    height: 200px;
    width: 150px;
    border-radius: 7px 0 0 7px;
}

.poster-info {
    float: left;
  height: 200px;
  width: 180px;
  border-radius: 0 7px 10px 7px;
  background-color: #BFFCC6;
}

#poster-info-text {
    height: 220px;
    width: 180px;
}

#poster-info-text h1 {
    width: 180px;
  text-align: center;
  font-size: 25px;
  color: #000000;
  margin-top: 5px;
  margin-right: 30px;
}

#poster-info-text p {
    height: 110px;
    text-align: center;
  color: #000000;
  font-size: 15px;
  font-weight: lighter;
  padding-left: 5px;
}

#poster-price {
    float: right;
    margin-top: -118px;
    margin-right: 55px;
    color: #000000;
}

#poster-price p {
    font-size: 25px;
}

#poster-button a {
    float: right;
    background-color: #DB5856;
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
    margin-top: -60px;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #000000;
}

.movie-poster-one, .movie-poster-two, .movie-poster-three, .movie-poster-four {
    margin-left: 35px;
}

.the-flash-2022-movie, .batman-return, .batman-forever, .catwoman-movie, .v-for-vendetta-movie, .batman-and-robin-movie, .batman-v-superman-movie, .john-wick-4, .aquaman-1, .the-dark-knight-rises, .watchman-movie, .sucide-squad, .a-new-hope, .empire-strikes-back, .return-of-the-jedi, .phatom-menace, .attack-of-the-clones-movie, .where-to-find-them-movie, .john-wick-one, .crimes-of-grindelward-movie, .john-wick-two, .joker-movie, .secrets-of-dubledore, .john-wick-three, .east-of-eden, .bride-of-frankstein, .gone-with-the-wind, .twelve-angry-men, .anatomy-of-a-murder-movie, .the-gold-rush, .casablanca-movie, .king-kong-old, .la-dolce-vita, .eyes-without-a-face, .sunset-boulevard-classic-movie, .wizard-oz-movie-old, .the-wolverine, .black-widow, .the-goonies, .the-portable-door, .uncharted-movie, .sahara-movie, .national-treasue, .dungeons-and-dragon, .jungle-cruise-movie, .the-way-of-the-water, .pirates-of-the-caribeean-one, .pirates-of-the-caribbean-five, .batman-bad-blood, .the-long-halloween-part-one, .the-long-halloween-part-two, .batman-vs-robin, .batman-gotham-by-gaslight, .batman-under-the-red-hood, .batman-assult-on-arkham, .batman-and-harley-queen, .the-big-short, .the-social-network, .elvis-new-movie, .pianist-movie, .bohemian-rhapsody-movie, .rush-movie, .the-irishman, .legend-movie, .american-snipper, .rocketman-movie, .bob-marlet-one-love, .priscilla-movie, .a-christmas-carol-movie, .rosmarys-baby, .a-wolf-of-wallstreet, .harry-potter-one, .harry-potter-and-the-chamber-of-secrets, .harry-potter-and-prisoner-of-askaban, .harry-potter-and-the-goblet-of-fire, .harry-potter-and-the-order-of-the-phoniex, .harry-potter-and-the-half-blood-prince, .harry-potter-and-the-deadthly-hallows-part-one, .harry-potter-and-the-deathly-hallows-part-two, .the-hunger-games, .mr-poppers-penguins, .bruce-almighty, .grown-ups-one, .white-chicks, .hubie-halloween, .hot-fuzz, .dark-shadows, .night-at-the-museun, .totally-killer, .haunted-mansion, .johnny-english, .the-naked-gun, .room-237, .the-alpinist, .becoming-warren-buffet, .gaga-five-foot-two, .bob-lazar-area-51, .ariel-phonomenon, .the-anti-social-network, .rising-from-ashes, .the-armstrong-lie, .sylvester-stallone, .jim-and-andy, .fine-lines, .the-prestige, .one-day, .the-age-of-adaline, .a-dogs-purpose, .the-boy-in-strapped-pajams, .parasite, .babylon, .dog-movie, .call-me-by-your-name, .rebel-moon, .the-menu, .the-fallout, .hobbit-an-unexpected-journet, .hobbit-the-desolation-of-smaug, .hobbit-the-battle-of-the-five-armies, .the-force-awakens, .star-wars-the-last-jedi, .the-rise-of-skywalker, .rouge-one, .solo-star-wars-story, .dolittle-new, .a-monster-call, .the-shape-of-water, .the-house-with-clocks, .kingdom-of-heaven, .the-promise, .the-pagan-king, .gladiator, .doctor-zhivago, .young-victoria, .hiden-figures, .loving-movie, .once-upon-a-time-in-hollywood, .titanic, .inglourious-basterds, .django, .justice-leage-the-flashpoint-paradox, .son-of-batman, .the-judas-contract, .the-death-of-superman, .apollo-13, .the-sound-of-music, .revenant, .spencer, .on-the-basic-of-sex, .argo, .less-daniels-the-butler, .marie-antoinette, .twelve-years-a-slave, .i-tonya, .the-book-theif, .anna-karenina, .conjuring-three, .sinister, .annabelle-one, .annabelle-two, .the-nun-one, .the-nun-two, .insidious-one, .iinsidious-two, .insidious-three, .insidious-four, .babadook, .lights-out, .herditatry, .paranormal-activity-one, .paranormal-activity-two, .paranormal-activity-three, .drive, .death-proff, .happy-death-day, .happy-death-day-two, .slumsdog-millionaire, .the-witch, .pulp-fiction, .the-imitation-game, .scooby-doo-and-the-legned-of-the-vampire, .scooby-doo-and-the-loch-ness-monster, .aloha-scooby-doo, .scooby-doo-pirates-ahoy, .scooby-doo-and-the-alien-invanders, .scooby-doo-and-the-goblin-king, .scooby-doo-and-the-cyber-chase, .scooby-doo-in-wheres-my-mummy, .scooby-doo-camp-scare, .scooby-doo-and-the-samurai-sword, .scooby-doo-and-kiss-rock-and-roll-mystery, .scooby-doo-frankencreppy, .the-nightmare-before-xmas, .tick-tick-boom, .into-the-woods, .wonka, .spirited, .cry-baby, .mary-poppins-returns, .disenchanted, .dear-evan-hansen, .encahnted, .the-prom, .a-week-away, .gone-girl, .inferno, .knives-out, .secret-window, .identity, .sherlock-holmes-one, .sherlock-holmes-two, .the-game, .el-orfanato, .the-illusionist, .enemy, .sleepy-hollow, .reminiscene, .nightmare-alley, .reservior-dogs, .chinatown, .dark-city, .the-third-man, .the-night-of-the-hunter, .taxi-driver, .under-the-silver-lake, .the-maltese-falcon, .strangers-on-a-train, .cast-a-deadly-spell, .the-break-up, .love-again, .a-cinderella-story, .love-rosie, .the-first-time, .clueless, .shes-all-that, .crazy-stupid-love, .knocked-up, .the-hating-game, .the-last-summer, .little-italy, .step-up, .my-fault, .remember-me, .the-vow, .the-best-of-me, .amar-movie, .the-longest-ride, .the-lucky-one, .waves, .the-last-song, .the-tearsmith, .before-we-go, .ready-player-one, .oblivion, .finch, .moonfall, .five-seven-seconds, .the-creator, .two-zero-six-seven, .skyline, .the-day-after-tomorrow, .district-nine, .spaceman, .high-life, .sleeping-dogs, .the-invitation, .the-wall, .presumed-innocnet, .the-uninvited, .fractured, .us-movie, .the-ritual-killer, .unthinkable, .saltburn, .wild-tales, .dont-worry-darling, .reversal-of-fprtune, .in-cold-blood, .foxcatcher, .summer-of-sam, .dog-day-afternon, .wolf-creek, .the-untouchables, .badlands, .bonne-and-clyde, .a-man-escaoed, .goodfellas, .the-iceman, .forsaken, .the-hateful-eight, .old-henry, .midngith-cowboy, .dead-for-a-dollar, .redeeming-love, .the-dressmaker, .butchers-crossing, .the-mule, .let-him-go, .pale-rider, .wyat-earp, .after-eveything, .five-feet-apart, .the-fault-in-our-stars, .midnight-sun, .were-the-millers, .the-maze-runner, .maze-runner-the-scorch-trails, .kick-ass, .kick-ass-two, .beautiful-creatures, .the-giver, .the-sorcerers-apprentice {
    margin-top: 20px;
}

#pagetitle {
    background-color: #C4FAF8;
    border-radius: 15px;
    border: 2px solid #000000;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 680px;
    text-align: center;
    margin-left: 365px;
}

.button-title {
    background-color: #DB5856;
    border: 2px solid #000000;
    margin-bottom: 20px;
    width: 200px;
    margin-left: 250px;
    border-radius: 15px;
}

.button-title a {
    text-decoration: none;
    color: #ffffff;
    margin-inline: auto;
}