.wrap { flex-wrap: wrap; }

.classic-movies-container, .must-watch-movies-container, .book-adaptations-movies-container, .action-movies-container {
    display: flex;
    margin-bottom: 20px;
}

#poster-photo {
    float: left;
    height: 200px;
    width: 150px;
}

#poster-photo img {
    height: 200px;
    width: 150px;
    border-radius: 7px 0 0 7px;
}

.poster-info {
    float: left;
  height: 200px;
  width: 180px;
  border-radius: 0 7px 10px 7px;
  background-color: #BFFCC6;
}

#poster-info-text {
    height: 220px;
    width: 180px;
}

#poster-info-text h1 {
    width: 180px;
  text-align: center;
  font-size: 25px;
  color: #000000;
  margin-top: 5px;
  margin-right: 30px;
}

#poster-info-text p {
    height: 110px;
    text-align: center;
  color: #000000;
  font-size: 15px;
  font-weight: lighter;
  padding-left: 5px;
}

#poster-price {
    float: right;
    margin-top: -118px;
    margin-right: 55px;
    color: #000000;
}

#poster-price p {
    font-size: 25px;
}

#poster-button a {
    float: right;
    background-color: #DB5856;
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
    margin-top: -60px;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #000000;
}

.movie-poster-one, .movie-poster-two, .movie-poster-three, .movie-poster-four, .movie-poster-five, .movie-poster-six, .movie-poster-seven, .movie-poster-eight, .movie-poster-nine, .movie-poster-teen, .movie-poster-eleven, .movie-poster-twelve, .movie-poster-thirteen, .movie-poster-fourteen, .movie-poster-fifteen, .movie-poster-sixteen {
    margin-left: 35px;
}

.movie-poster-five, .movie-poster-six, .movie-poster-seven, .movie-poster-eight, .movie-poster-nine, .movie-poster-teen, .movie-poster-eleven, .movie-poster-twelve, .movie-poster-thirteen, .movie-poster-fourteen, .movie-poster-fifteen, .movie-poster-sixteen {
    margin-top: 20px;
}

#pagetitle {
    background-color: #C4FAF8;
    border-radius: 15px;
    border: 2px solid #000000;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 680px;
    text-align: center;
    margin-left: 365px;
}

.button-title {
    background-color: #DB5856;
    border: 2px solid #000000;
    margin-bottom: 20px;
    width: 200px;
    margin-left: 250px;
    border-radius: 15px;
}

.button-title a {
    text-decoration: none;
    color: #ffffff;
    margin-inline: auto;
}