/*MAX WITH 1300PX*/
@media (max-width: 1300px) {
  .hero-image-four {
    width: 1100px;
  }
  
  .hero-text-four {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .become-button {
    margin-left: 330px;
  }
  
  .category-buttons-long {
    margin-left: 30px;
  }
  
#movie-action, #movie-adventure, #movies-animated, #movie-biography, #movie-kids, #movie-comedy, #movie-drama, #movie-fantasy, #movie-history, #movie-horror, #movie-indie, #movie-mystery, #movie-noir, #movie-romance {
    margin-left: 30px;
  width: 140px;
  }
  
  #movie-sci-fi, #movie-thriller, #movie-true-crime, #movie-western, #movies-ww-two, #movie-young-adult {
    margin-left: 15px;
    width: 200px;
  }
  
  .hero-image-one, .hero-image-two {
    width: 550px;
  }
  
  .hero-text-one p, .hero-text-two p {
    font-size: 25px;
  }
  
  .hero-button {
    margin-left: 180px;
  }

  #footer-info-box p {
    margin-left: 10px;
  }
  
  #popular-now-footer a, #about-square-eyes-footer a, #behind-the-scense-footer a, #custumer-service-fotter a {
    margin-left: 50px;
  }
}

/*MAX WITH 1200PX*/
@media (max-width: 1200px) {

  .location-header {
    margin-left: 200px;
  }
  
  .hero-image-four {
    width: 1000px;
  }
  
  .hero-text-four p {
    font-size: 25px;
  }
  
  .become-button {
    margin-left: 270px;
  }
  
  .category-buttons-long {
    width: 250px;
  }
  
  #movie-action, #movie-adventure, #movies-animated, #movie-biography, #movie-kids, #movie-comedy, #movie-drama, #movie-fantasy, #movie-history, #movie-horror, #movie-indie, #movie-mystery, #movie-noir, #movie-romance {
  width: 130px;
  }
  
  #movie-action a, #movie-adventure a, #movies-animated a, #movie-biography a, #movie-kids a, #movie-comedy a, #movie-drama a, #movie-fantasy a, #movie-history a, #movie-horror a, #movie-indie a, #movie-mystery a, #movie-noir a, #movie-romance a {
    font-size: 18px;
  }
  
   #movie-sci-fi, #movie-thriller, #movie-true-crime, #movie-western, #movies-ww-two, #movie-young-adult {
    margin-left: 22px;
    width: 165px;
  }
  
  .hero-image-one, .hero-image-two {
    width: 500px;
  }
  
  .hero-text-one p, .hero-text-two p {
    font-size: 20px;
  }
  
  .hero-button {
    margin-left: 150px;
  }
  
  .hero-image-three {
    width: 600px;
  }
  
  #popular-now-footer h1, #about-square-eyes-footer h1, #behind-the-scense-footer h1, #custumer-service-fotter h1 {
    font-size: 20px;
  }
  
  #popular-now-footer a, #about-square-eyes-footer a, #behind-the-scense-footer a, #custumer-service-fotter a {
    margin-left: 50px;
    font-size: 15px;
  }
}

/*MAX WITH 1150PX*/
@media (max-width: 1150px) {
  .category-buttons-long {
    width: 230px;
  }
  
  #movie-action, #movie-adventure, #movies-animated, #movie-biography, #movie-kids, #movie-comedy, #movie-drama, #movie-fantasy, #movie-history, #movie-horror, #movie-indie, #movie-mystery, #movie-noir, #movie-romance {
  width: 120px;
  }
  
  #movie-sci-fi, #movie-thriller, #movie-true-crime, #movie-western, #movies-ww-two, #movie-young-adult {
    width: 150px;
  }

  .flex-hero-container {
    flex-direction: column;
    align-items: center;
  }
  
  .hero-image-one {
    margin-left: 50px;
  }
  
  .hero-image-two {
    margin-left: 60px;
  }
  
  .hero-image-three {
    margin-left: 50px;
    width: 500px;
    margin-top: 50px;
  }
}

/*MAX WITH 1100PX*/
@media (max-width: 1100px) {
  .category-buttons-long {
    width: 215px;
  }
  
  #movies-classics a, #movies-must-watch a, #movies-book-adaptations a, #movies-on-documentary a  {
    font-size: 20px;
  }
  
  .hero-image-four {
    width: 800px;
    margin-left: 120px;
  }
  
  .hero-text-four p {
    font-size: 25px;
  }
  
  .hero-text-four h1 {
    font-size: 35px;
  }
  
  .become-button {
    margin-left: 180px;
  }
  
  #movie-action, #movie-adventure, #movies-animated, #movie-biography, #movie-kids, #movie-comedy, #movie-drama, #movie-fantasy, #movie-history, #movie-horror, #movie-indie, #movie-mystery, #movie-noir, #movie-romance {
    width: 120px;
    margin-left: 20px;
  }
  
  #movie-sci-fi, #movie-thriller, #movie-true-crime, #movie-western, #movies-ww-two, #movie-young-adult {
    margin-left: 15px;
    width: 150px;
  }
  
  #movie-sci-fi a, #movie-thriller a, #movie-true-crime a, #movie-western a, #movies-ww-two a, #movie-young-adult a {
    font-size: 18px;
  }
  
  #popular-now-footer a {
    margin-left: 30px;
  }
  
  #about-square-eyes-footer a {
    margin-left: 10px;
  }
  
  #behind-the-scense-footer a {
    margin-left: 15px;
  }
  
  #custumer-service-fotter a {
    margin-left: 40px;
  }
}

/*MAX WITH 1050PX*/
@media (max-width: 1050px) {
  #movie-action, #movie-adventure, #movies-animated, #movie-biography, #movie-kids, #movie-comedy, #movie-drama, #movie-fantasy, #movie-history, #movie-horror, #movie-indie, #movie-mystery, #movie-noir, #movie-romance {
    margin-left: 12px;
  }
  
  .category-buttons-long {
    margin-left: 20px;
  }

  #movie-sci-fi, #movie-thriller, #movie-true-crime, #movie-western, #movies-ww-two, #movie-young-adult {
    width: 140px;
  }
}

/*MAX WITH 1000PX*/
@media (max-width: 1000px) {
  .hero-image-four {
    width: 750px;
    margin-left: 100px;
  }
  
  .become-button {
    margin-left: 130px;
  }
  
  .category-buttons-long {
    width: 200px;
  }
  
  #movie-action, #movie-adventure, #movies-animated, #movie-biography, #movie-kids, #movie-comedy, #movie-drama, #movie-fantasy, #movie-history, #movie-horror, #movie-indie, #movie-mystery, #movie-noir, #movie-romance {
    width: 100px;
    margin-left: 20px;
  }
  
  #movie-sci-fi, #movie-thriller, #movie-true-crime, #movie-western, #movies-ww-two, #movie-young-adult {
    width: 130px;
  }
  
  .flex-hero-container {
    margin-left: -20px;
  }
}

/*MAX WITH 920PX*/
@media (max-width: 920px) {

  .location-header img, #sale-icon-header img, #map-icon-header img, #contact-icon-header img {
    width: 40px;
    height: 40px;
  }

  #sale-icon-header, #header-centre, #map-icon-header, #contact-icon-header {
    margin-left: 30px;
  }

  .location-header {
    margin-left: 150px;
  }
  
  #movie-action, #movie-adventure, #movies-animated, #movie-biography, #movie-kids, #movie-comedy, #movie-drama, #movie-fantasy, #movie-history, #movie-horror, #movie-indie, #movie-mystery, #movie-noir, #movie-romance {
    margin-left: 10px;
  }
  
  .category-buttons-long {
    width: 170px;
  }
  
  #movies-classics a, #movies-must-watch a, #movies-book-adaptations a, #movies-on-documentary a, #movie-sci-fi a, #movie-thriller a, #movie-true-crime a, #movie-western a, #movies-ww-two a, #movie-young-adult a, #movie-action a, #movie-adventure a, #movies-animated a, #movie-biography a, #movie-kids a, #movie-comedy a, #movie-drama a, #movie-fantasy a, #movie-history a, #movie-horror a, #movie-indie a, #movie-mystery a, #movie-noir a, #movie-romance a {
    font-size: 15px;
  }
  
  #movie-sci-fi, #movie-thriller, #movie-true-crime, #movie-western, #movies-ww-two, #movie-young-adult {
    width: 120px;
  }
  
  .hero-image-four {
    width: 700px;
    margin-left: 100px;
  }
  
  .hero-text-four h1 {
    font-size: 30px;
    padding-top: 20px;
  }
  
  .hero-text-four p {
    font-size: 20px;
    padding: 20px 40px 0px 40px;
  }
  
  .become-button {
    margin-top: 30px;
    margin-left: 120px;
  }
}

/*MAX WITH 850PX*/
@media (max-width: 850px) {
  .hero-image-four {
    width: 600px;
    margin-left: 100px;
  }
  
  .become-button {
    width: 200px;
    height: 50px;
    margin-left: 170px;
  }
  
  .become-button a {
    font-size: 15px;
  }
  
  .category-buttons-long {
    width: 150px;
  }
  
 #movie-sci-fi, #movie-thriller, #movie-true-crime, #movie-western, #movies-ww-two, #movie-young-adult {
    width: 110px;
  }
}

/*MAX WITH 800PX*/
@media (max-width: 800px) {

  .location-header {
    margin-left: 100px;
  }

  #movie-action, #movie-adventure, #movies-animated, #movie-biography, #movie-kids, #movie-comedy, #movie-drama, #movie-fantasy, #movie-history, #movie-horror, #movie-indie, #movie-mystery, #movie-noir, #movie-romance {
    margin-left: 30px;
  }
  
  .hero-image-four {
    width: 500px;
    margin-left: 130px;
  }
  
  .become-button {
    margin-left: 120px;
  }
  
  #footer-info-box {
    display: none;
  }
  
  #popular-now-footer {
    margin-left: -15px;
    margin-bottom: 50px;
  }
  
  .hero-text-one h1, .hero-text-two h1 {
    font-size: 30px;
  }
  
  .hero-text-two p, .hero-text-one p {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/*MAX WITH 700PX*/
@media (max-width: 700px) {
  
  .location-header {
    margin-left: 130px;
  }

  .location-header img, #sale-icon-header img, #map-icon-header img, #contact-icon-header img {
    width: 30px;
    height: 30px;
  }

  .location-header img, #sale-icon-header img, #map-icon-header img {
    margin-top: 20px;
  }

  #contact-icon-header img {
    margin-top: 25px;
  }

  #sale-icon-header, #header-centre, #map-icon-header, #contact-icon-header {
    margin-left: 20px;
  }

  #header-centre img {
    width: 120px;
    height: 75px;
    margin-top: 20px;
}
  
  .hero-image-four {
    margin-left: 100px;
  }
  
  .category-buttons-long {
    width: 140px;
  }
  
  #about-square-eyes-footer a {
    margin-left: 40px;
  }
  
}

/*MAX WITH 650PX*/
@media (max-width: 650px) {
  .hero-image-four {
    width: 500px;
    margin-left: 70px;
  }
  
  .category-buttons-long {
    width: 130px;
  }
  
  .category-last-buttons {
    display: none;
  }
  
  .flex-hero-container {
    margin-left: -30px;
  }
  
  #popular-now-footer a, #about-square-eyes-footer a, #behind-the-scense-footer a, #custumer-service-fotter a {
    font-size: 12px;
  }
  
  #popular-now-footer h1, #about-square-eyes-footer h1, #behind-the-scense-footer h1, #custumer-service-fotter h1 {
    font-size: 15px;
  }
}

/*MAX WITH 600PX*/
@media (max-width: 600px) {
  .category-buttons-long {
    display: none;
  }
  
  .hero-image-four {
    width: 450px;
    margin-left: 50px;
  }
  
  .hero-text-four h1 {
    font-size: 25px;
  }
  
  .hero-text-four p, .become-button a {
    font-size: 15px;
  }
  
  .become-button {
    margin-left: 100px;
  }
}