.larger-device {
    background-color: #fafabe;
    width: 90%;
    border-radius: 20px;
    border: 2px solid #ffffff;
    margin-left: 5%;
}

.larger-device h1 {
    font-size: 30px;
    text-align: center;
    padding: 0px 30px 0px 30px;
}

.larger-device {
    display: none;
}

.partnerships-overview, .partnerships-last {
    display: flex;
}

.disney-option, .walt-disney-option, .netflix-option, .disney-channel-option, .warner-bros-option, .paramount-option, .universal-option, .disneypark-option, .hulu-option, .disney-plus-option, .seatchlight-option, .centruy-studio-option, .pixar-option, .amblin-option, .sony-pictures-option, .disney-cruise-option, .disney-exerience-option, .lucas-films-option, .dreamworks-animation-option, .lionsgate-option, .illumination-option {
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 20px;
    height: 40px;
}

.disney-option, .netflix-option, .warner-bros-option, .universal-option, .hulu-option, .seatchlight-option, .centruy-studio-option, .amblin-option, .disney-cruise-option, .lucas-films-option, .illumination-option {
    background-color: #023299;
    box-shadow: 5px 5px 10px 5px #094CDB;
}

.walt-disney-option, .disney-channel-option, .paramount-option, .disneypark-option, .disney-plus-option, .pixar-option, .sony-pictures-option, .disney-exerience-option, .lionsgate-option, .dreamworks-animation-option {
    background-color: #2E7702;
    box-shadow: 5px 5px 10px 5px #4FC009;
}

.disney-option a, .walt-disney-option a, .netflix-option a, .disney-channel-option a, .warner-bros-option a, .paramount-option a, .universal-option a, .disneypark-option a, .hulu-option a, .disney-plus-option a, .seatchlight-option a, .centruy-studio-option a, .pixar-option a, .amblin-option a, .sony-pictures-option a, .disney-cruise-option a, .disney-exerience-option a, .lucas-films-option a, .dreamworks-animation-option a, .lionsgate-option a, .illumination-option a {
    text-decoration: none;
    color: #ffffff;
}

.disney-option, .netflix-option, .hulu-option, .pixar-option {
    width: 150px;
}

.disney-plus-option, .lucas-films-option, .lionsgate-option {
    width: 200px;
}

.illumination-option {
    width: 230px;
}

.warner-bros-option {
    width: 250px;
}

.disneypark-option, .sony-pictures-option {
    width: 230px;
}

.disney-channel-option {
    width: 280px;
}

.paramount-option, .universal-option, .seatchlight-option, .centruy-studio-option, .disney-cruise-option, .disney-exerience-option {
    width: 330px;
}

.amblin-option {
    width: 350px;
}

.dreamworks-animation-option {
    width: 380px;
}

.walt-disney-option {
    width: 420px;
}

.walt-disney-option, .netflix-option, .disney-channel-option, .warner-bros-option, .universal-option, .disneypark-option, .disney-plus-option, .seatchlight-option, .pixar-option, .amblin-option, .hulu-option, .disney-cruise-option, .disney-exerience-option, .lucas-films-option, .lionsgate-option, .illumination-option {
    margin-left: 20px;
}

.disney-option {
    margin-left: 50px;
}

.sony-pictures-option {
    margin-left: 30px;
}

.paramount-option {
    margin-left: 70px;
}

.centruy-studio-option {
    margin-left: 80px;
}

.dreamworks-animation-option {
    margin-left: 20px;
}

.paramount-option, .universal-option, .disneypark-option, .hulu-option, .disney-plus-option, .seatchlight-option, .centruy-studio-option, .pixar-option, .amblin-option, .sony-pictures-option, .disney-cruise-option, .disney-exerience-option, .lucas-films-option, .lionsgate-option, .disney-option, .walt-disney-option, .netflix-option, .disney-channel-option, .warner-bros-option, .dreamworks-animation-option, .illumination-option {
    margin-top: 20px;
}

.dreamworks-animation-option, .illumination-option {
    margin-bottom: 50px;
}