.trade-your-dvds-info {
    background-color: #023299;
    box-shadow: 5px 5px 10px 5px #094CDB;
    width: 90%;
    border-radius: 20px;
    border: 2px solid #ffffff;
    margin: 4% 0px 4% 5%;
}

#trade-text {
    color: #ffffff;
    text-align: center;
}

#trade-text h1 {
    font-size: 30px;
}

#trade-text p {
    font-size: 20px;
    padding: 0px 30px 0px 30px;
}